.container {
  position: relative;
  text-align: center;
  color: white;
  size: 150%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80%;
  font-family: 'Livvic', sans-serif;
}

.centered p {
  font-size: 22%;
}

div.a {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Livvic', sans-serif;
}

div.b {
  text-align: center;
  font-size: 60%;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
}

div .c {
  font-size: 79%;
  font-family: 'Livvic', sans-serif;
}
