.container {
  position: relative;
  text-align: center;
  color: white;
  size: 150%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80%;
  font-family: 'Livvic', sans-serif;
}

.centered p {
  font-size: 22%;
}

div.a {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Livvic', sans-serif;
}

div.b {
  text-align: center;
  font-size: 60%;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
}

div .c {
  font-size: 79%;
  font-family: 'Livvic', sans-serif;
}

div .d {
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size: 35%;
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid white;
  perspective: 1000px;
  align-self: center;
}

.flip-box-inner {
  position: relative;
  width: 80%;
  height: 80%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 70%;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 80%;
  height: 80%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: white;
  color: black;
}

.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

div .e {
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size: 35%;
}

div .f {
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size: 40%;
}

div .g {
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size: 40%;
}
div .h {
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  font-size: 90%;
  color: black;
  align: center;
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border:none;
}
.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50*;
  font-family: 'Livvic', sans-serif;
}

form {
  display: row;
}

input[type=text] {
  width: 50%;
  padding: 45%;
  margin: 35%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

div .z {
  align-self: center;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  display: row;
}
